 img{
  width: 90px;
  height: auto;
  margin: auto;
}
.pagination{    
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;

}
.pagination li a{
    border-radius: 5px;
    color: #000000;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}
.pagination li a:hover{
    background-color: rgba(61, 90, 254);
    color: #fff;
}
.active a{
    background-color: #3D5AFE;
    color: #ffffff !important;
}
.carpetas a{
	float:left; margin: 5px;
}

